@model IEnumerable<DeviceManagement_WebApp.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories
    <a asp-action="Create">
        <img src="~/images/create.png" style="height:30px; width:30px; position:relative; top:-2px" />
    </a>
</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">
                        <img src="~/images/edit.png" style="height:20px;width:20px;" />
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CategoryId">
                        <img src="~/images/details.png" style="height:20px;width:20px;" />
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">
                        <img src="~/images/delete.png" style="height:20px;width:20px;" />
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
