@model IEnumerable<DeviceManagement_WebApp.Models.Device>

@{
    ViewData["Title"] = "Devices";
}

<h1>Devices
    <a asp-action="Create">
        <img src="~/images/create.png" style="height:30px; width:30px; position:relative; top:-2px" />
    </a>
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zone)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zone.ZoneName)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DeviceId">
                        <img src="~/images/edit.png" style="height:20px;width:20px;" />
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.DeviceId">
                        <img src="~/images/details.png" style="height:20px;width:20px;" />
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.DeviceId">
                        <img src="~/images/delete.png" style="height:20px;width:20px;" />
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
